body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  margin-top: 20px;
}

button {
  margin-top: 10px;
}

.socia-media-container {
  margin-top: 1rem;
  position: absolute;
  bottom: 10px;
}

a {
  color: black;
}

ion-icon {
  font-size: 2rem;
}

iframe {
  margin-top: 3rem;
}
